# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
.venv/
ENV/
env/

# Dagster specific
.dagster/
.dagster_home/
.tmp_dagster_home*/
dagster.yaml
dagster.db

# Data and models
data/*.csv
data/*.pkl
data/*.h5
data/*.joblib
data/*.json

# Logs
logs/
*.log

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db